.Synonyms {
  margin: 15px 0;
  padding: 0;
  color: #0d47a1;
  font-style: italic;
}
.Synonyms span {
  padding: 8px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  line-height: 1;
}
